[submodule "2-grading-tests"]
	path = 2-grading-tests
	url = git@github.com:spbu-coding-2022/2-grading-tests.git
[submodule "2-Arian-Bn"]
	path = 2-Arian-Bn
	url = git@github.com:spbu-coding-2022/2-Arian-Bn.git
[submodule "2-Parzival-05"]
	path = 2-Parzival-05
	url = git@github.com:spbu-coding-2022/2-Parzival-05.git
[submodule "2-PavlushaSource"]
	path = 2-PavlushaSource
	url = git@github.com:spbu-coding-2022/2-PavlushaSource.git
[submodule "2-Paynin"]
	path = 2-Paynin
	url = git@github.com:spbu-coding-2022/2-Paynin.git
[submodule "2-RoketFlame"]
	path = 2-RoketFlame
	url = git@github.com:spbu-coding-2022/2-RoketFlame.git
[submodule "2-RozhkovAleksandr"]
	path = 2-RozhkovAleksandr
	url = git@github.com:spbu-coding-2022/2-RozhkovAleksandr.git
[submodule "2-SurfaceYellowDuck"]
	path = 2-SurfaceYellowDuck
	url = git@github.com:spbu-coding-2022/2-SurfaceYellowDuck.git
[submodule "2-ancavar"]
	path = 2-ancavar
	url = git@github.com:spbu-coding-2022/2-ancavar.git
[submodule "2-ksenmel"]
	path = 2-ksenmel
	url = git@github.com:spbu-coding-2022/2-ksenmel.git
[submodule "2-nemakin"]
	path = 2-nemakin
	url = git@github.com:spbu-coding-2022/2-nemakin.git
[submodule "2-therain7"]
	path = 2-therain7
	url = git@github.com:spbu-coding-2022/2-therain7.git
[submodule "2-toadharvard"]
	path = 2-toadharvard
	url = git@github.com:spbu-coding-2022/2-toadharvard.git
[submodule "2-vacmannnn"]
	path = 2-vacmannnn
	url = git@github.com:spbu-coding-2022/2-vacmannnn.git
[submodule "2-Anna-er"]
	path = 2-Anna-er
	url = git@github.com:spbu-coding-2022/2-Anna-er.git
[submodule "2-Artem-Rzhankoff"]
	path = 2-Artem-Rzhankoff
	url = git@github.com:spbu-coding-2022/2-Artem-Rzhankoff.git
[submodule "2-Lesh79"]
	path = 2-Lesh79
	url = git@github.com:spbu-coding-2022/2-Lesh79.git
[submodule "2-SakievMansur"]
	path = 2-SakievMansur
	url = git@github.com:spbu-coding-2022/2-SakievMansur.git
[submodule "2-gladiuswq"]
	path = 2-gladiuswq
	url = git@github.com:spbu-coding-2022/2-gladiuswq.git
[submodule "2-mloleg"]
	path = 2-mloleg
	url = git@github.com:spbu-coding-2022/2-mloleg.git
