[submodule "2-grading-tests"]
	path = 2-grading-tests
	url = git@github.com:spbu-coding-2022/2-grading-tests.git
[submodule "2-Arian-Bn"]
	path = 2-Arian-Bn
	url = git@github.com:spbu-coding-2022/2-Arian-Bn.git
[submodule "2-Parzival-05"]
	path = 2-Parzival-05
	url = git@github.com:spbu-coding-2022/2-Parzival-05.git
[submodule "2-PavlushaSource"]
	path = 2-PavlushaSource
	url = git@github.com:spbu-coding-2022/2-PavlushaSource.git
[submodule "2-Paynin"]
	path = 2-Paynin
	url = git@github.com:spbu-coding-2022/2-Paynin.git
[submodule "2-RoketFlame"]
	path = 2-RoketFlame
	url = git@github.com:spbu-coding-2022/2-RoketFlame.git
[submodule "2-RozhkovAleksandr"]
	path = 2-RozhkovAleksandr
	url = git@github.com:spbu-coding-2022/2-RozhkovAleksandr.git
[submodule "2-SurfaceYellowDuck"]
	path = 2-SurfaceYellowDuck
	url = git@github.com:spbu-coding-2022/2-SurfaceYellowDuck.git
[submodule "2-ancavar"]
	path = 2-ancavar
	url = git@github.com:spbu-coding-2022/2-ancavar.git
[submodule "2-ksenmel"]
	path = 2-ksenmel
	url = git@github.com:spbu-coding-2022/2-ksenmel.git
[submodule "2-nemakin"]
	path = 2-nemakin
	url = git@github.com:spbu-coding-2022/2-nemakin.git
[submodule "2-therain7"]
	path = 2-therain7
	url = git@github.com:spbu-coding-2022/2-therain7.git
[submodule "2-toadharvard"]
	path = 2-toadharvard
	url = git@github.com:spbu-coding-2022/2-toadharvard.git
[submodule "2-vacmannnn"]
	path = 2-vacmannnn
	url = git@github.com:spbu-coding-2022/2-vacmannnn.git
[submodule "2-Anna-er"]
	path = 2-Anna-er
	url = git@github.com:spbu-coding-2022/2-Anna-er.git
[submodule "2-Artem-Rzhankoff"]
	path = 2-Artem-Rzhankoff
	url = git@github.com:spbu-coding-2022/2-Artem-Rzhankoff.git
[submodule "2-Lesh79"]
	path = 2-Lesh79
	url = git@github.com:spbu-coding-2022/2-Lesh79.git
[submodule "2-SakievMansur"]
	path = 2-SakievMansur
	url = git@github.com:spbu-coding-2022/2-SakievMansur.git
[submodule "2-gladiuswq"]
	path = 2-gladiuswq
	url = git@github.com:spbu-coding-2022/2-gladiuswq.git
[submodule "2-mloleg"]
	path = 2-mloleg
	url = git@github.com:spbu-coding-2022/2-mloleg.git
[submodule "2-osogi"]
	path = 2-osogi
	url = git@github.com:spbu-coding-2022/2-osogi.git
[submodule "2-sokolovskiy-ilya"]
	path = 2-sokolovskiy-ilya
	url = git@github.com:spbu-coding-2022/2-sokolovskiy-ilya.git
[submodule "2-wokuparalyzed"]
	path = 2-wokuparalyzed
	url = git@github.com:spbu-coding-2022/2-wokuparalyzed.git
[submodule "2-Alabs1"]
	path = 2-Alabs1
	url = git@github.com:spbu-coding-2022/2-Alabs1.git
[submodule "2-AlexShmak"]
	path = 2-AlexShmak
	url = git@github.com:spbu-coding-2022/2-AlexShmak.git
[submodule "2-ArtyomProkopets"]
	path = 2-ArtyomProkopets
	url = git@github.com:spbu-coding-2022/2-ArtyomProkopets.git
[submodule "2-ItIsMrLaG"]
	path = 2-ItIsMrLaG
	url = git@github.com:spbu-coding-2022/2-ItIsMrLaG.git
[submodule "2-Kuarni"]
	path = 2-Kuarni
	url = git@github.com:spbu-coding-2022/2-Kuarni.git
[submodule "2-LeonidElkin"]
	path = 2-LeonidElkin
	url = git@github.com:spbu-coding-2022/2-LeonidElkin.git
[submodule "2-MahaDeborah"]
	path = 2-MahaDeborah
	url = git@github.com:spbu-coding-2022/2-MahaDeborah.git
[submodule "2-aartdem"]
	path = 2-aartdem
	url = git@github.com:spbu-coding-2022/2-aartdem.git
[submodule "2-d-zaytsev"]
	path = 2-d-zaytsev
	url = git@github.com:spbu-coding-2022/2-d-zaytsev.git
[submodule "2-tepa46"]
	path = 2-tepa46
	url = git@github.com:spbu-coding-2022/2-tepa46.git
[submodule "2-twotwozeronine"]
	path = 2-twotwozeronine
	url = git@github.com:spbu-coding-2022/2-twotwozeronine.git
[submodule "2-Stemble-dev"]
	path = 2-Stemble-dev
	url = git@github.com:spbu-coding-2022/2-Stemble-dev.git
[submodule "2-Bore4s"]
	path = 2-Bore4s
	url = git@github.com:spbu-coding-2022/2-Bore4s.git
[submodule "2-YazoonDinalt"]
	path = 2-YazoonDinalt
	url = git@github.com:spbu-coding-2022/2-YazoonDinalt.git
[submodule "2-Urtix"]
	path = 2-Urtix
	url = git@github.com:spbu-coding-2022/2-Urtix.git
[submodule "2-juliakononov"]
	path = 2-juliakononov
	url = git@github.com:spbu-coding-2022/2-juliakononov.git
[submodule "2-letasaak"]
	path = 2-letasaak
	url = git@github.com:spbu-coding-2022/2-letasaak.git
[submodule "2-raf-nr"]
	path = 2-raf-nr
	url = git@github.com:spbu-coding-2022/2-raf-nr.git
[submodule "2-ALanovaya"]
	path = 2-ALanovaya
	url = git@github.com:spbu-coding-2022/2-ALanovaya.git
[submodule "2-ftimotin"]
	path = 2-ftimotin
	url = git@github.com:spbu-coding-2022/2-ftimotin.git
[submodule "2-MickeyLizemin"]
	path = 2-MickeyLizemin
	url = git@github.com:spbu-coding-2022/2-MickeyLizemin.git
[submodule "2-Muzhinchin"]
	path = 2-Muzhinchin
	url = git@github.com:spbu-coding-2022/2-Muzhinchin.git
[submodule "2-GryaznovAS"]
	path = 2-GryaznovAS
	url = git@github.com:spbu-coding-2022/2-GryaznovAS.git
[submodule "2-VsevolodPotylkin"]
	path = 2-VsevolodPotylkin
	url = git@github.com:spbu-coding-2022/2-VsevolodPotylkin.git
