[submodule "2-grading-tests"]
	path = 2-grading-tests
	url = git@github.com:spbu-coding-2022/2-grading-tests.git
[submodule "2-Arian-Bn"]
	path = 2-Arian-Bn
	url = git@github.com:spbu-coding-2022/2-Arian-Bn.git
[submodule "2-Parzival-05"]
	path = 2-Parzival-05
	url = git@github.com:spbu-coding-2022/2-Parzival-05.git
[submodule "2-PavlushaSource"]
	path = 2-PavlushaSource
	url = git@github.com:spbu-coding-2022/2-PavlushaSource.git
[submodule "2-Paynin"]
	path = 2-Paynin
	url = git@github.com:spbu-coding-2022/2-Paynin.git
[submodule "2-RoketFlame"]
	path = 2-RoketFlame
	url = git@github.com:spbu-coding-2022/2-RoketFlame.git
[submodule "2-RozhkovAleksandr"]
	path = 2-RozhkovAleksandr
	url = git@github.com:spbu-coding-2022/2-RozhkovAleksandr.git
